p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

a, a:hover, a:focus, a:active {
  text-decoration: underline;
  color: inherit; }

.container {
  font-family: 'Roboto', sans-serif;
  margin-right: 20px; }

.main {
  display: grid;
  grid-template-columns: 1fr 3fr; }

.name-title {
  border-bottom: solid 1px lightgrey; }
  .name-title__name {
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    margin: 0; }
  .name-title__title {
    font-family: 'Cinzel', serif;
    font-size: 20px; }

.personal {
  border-right: solid 1px lightgrey;
  margin-right: 30px;
  padding-left: 30px;
  padding-right: 30px; }
  .personal-info-phone__gh {
    margin: 5px 0; }

.work-details {
  margin-bottom: 50px; }
  .work-details-content {
    margin-left: 20px;
    margin-top: 10px; }
    .work-details-content-pos-dur {
      display: flex;
      justify-content: space-between; }
  .work-details-company-title__position {
    margin: 5px 0; }
  .work-details-title-link {
    display: flex;
    justify-content: space-between; }
  .work-details-tech__list {
    display: block;
    margin-top: 10px; }

.work-profile-list__item {
  margin-bottom: 10px; }

.section--heading {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  position: relative;
  margin: 20px 0 7px 0; }

summary {
  margin: 10px 0px 20px 20px; }

time {
  display: block;
  margin-left: 10px;
  font-family: 'Quicksand', sans-serif; }

.sub-section--heading {
  font-family: 'Quicksand', sans-serif; }

.last--content {
  margin-bottom: 180px; }
